<div class="heading">
    <div class="d-flex">
        <h4>Game Level Details</h4>
    </div>
</div>

<form [formGroup]="filterForm">
    <div class="row">
        <mat-form-field class="col-lg-4">
            <mat-select formControlName="gameTypeId" (selectionChange)="onGameTypeChanged()"
                placeholder="Select game type">
                <mat-option *ngFor="let type of gameTypeList" [value]="type.id">{{type.gameType}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-lg-4">
            <mat-select formControlName="gameLevelId" (selectionChange)="onGameLevelChanged()"
                placeholder="Select game level">
                <mat-option *ngFor="let type of gameLevelList" [value]="type.id">{{type.gameLevel}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="col-lg-4 d-flex align-items-center">
            <button mat-raised-button color="primary" (click)="addRow()"><mat-icon>add</mat-icon> Add Row</button>
            <button mat-raised-button color="primary" class="m-3" (click)="saveLevelDetails()"><mat-icon>save</mat-icon> Save Details
            </button>
        </div>
    </div>
</form>

<table mat-table [dataSource]="dataSource">

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="deleteRow(element)"><mat-icon>delete</mat-icon></button>
        </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="mt-3">
                <input matInput placeholder="Description" [(ngModel)]="element.description"/>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="sourceGroup">
        <th mat-header-cell *matHeaderCellDef>Source Group</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="mt-3">
                <mat-select placeholder="Source Group" [(ngModel)]="element.sourceGroup">
                    <mat-option *ngFor="let type of systemConstValues?.sourceGroup" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="questionModelType">
        <th mat-header-cell *matHeaderCellDef>Question ModelType</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="mt-3">
                <mat-select placeholder="QuestionModelType" [(ngModel)]="element.questionModelType">
                    <mat-option *ngFor="let type of systemConstValues?.modelType" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="questionBucketType">
        <th mat-header-cell *matHeaderCellDef>Question BucketType</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="mt-3 column-width">
                <mat-select placeholder="QuestionBucketType" [(ngModel)]="element.questionBucketType">
                    <mat-option *ngFor="let type of systemConstValues?.bucketType" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>


    <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef>Start</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="mt-3 column-width">
                <input matInput type="number" placeholder="Start" [(ngModel)]="element.start">
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="end">
        <th mat-header-cell *matHeaderCellDef>End</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="mt-3 column-width">
                <input matInput type="number" placeholder="End" [(ngModel)]="element.end">
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="answerModelType">
        <th mat-header-cell *matHeaderCellDef>Answer ModelType</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="mt-3">
                <mat-select placeholder="AnswerModelType" [(ngModel)]="element.answerModelType">
                    <mat-option *ngFor="let type of systemConstValues?.modelType" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="answerBucketType">
        <th mat-header-cell *matHeaderCellDef>Answer BucketType</th>
        <td mat-cell *matCellDef="let element">
            <mat-form-field class="mt-3 column-width">
                <mat-select placeholder="AnswerBucketType" [(ngModel)]="element.answerBucketType">
                    <mat-option *ngFor="let type of systemConstValues?.bucketType" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
        </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
            <mat-slide-toggle (change)="onChangeStatus($event.checked, element)"
                [checked]="element.status == 'Active' ? true : false">
            </mat-slide-toggle>
        </td>
    </ng-container>

</table>