<mat-toolbar color="primary" *ngIf="storageService.getSrvUrl()">
  <button mat-icon-button (click)="toggleDrawer()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Match It</span>
  <span class="spacer"></span>
  <button [matMenuTriggerFor]="menu" mat-icon-button matTooltip="Menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <span mat-menu-item><mat-icon>info_outline</mat-icon> Build: v{{feVersion}}</span>
    <span mat-menu-item><mat-icon>info_outline</mat-icon> SRV URL: {{srvUrl}}</span>
    <span (click)="downloadDb()" mat-menu-item><mat-icon>file_download</mat-icon> Download Database</span>
    <span (click)="logout()" mat-menu-item><mat-icon>exit_to_app</mat-icon> Logout</span>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer role="navigation" opened="true" mode="side" *ngIf="storageService.getSrvUrl()">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <div id="page-content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-drawer-content>
</mat-drawer-container>