<nav class="sidebar">

  <mat-list>
    <mat-list-item [routerLink]="['/game-type']" [routerLinkActive]="['active']">
      <span>Game Type</span>
    </mat-list-item>
 
    <mat-list-item [routerLink]="['/game-level']" [routerLinkActive]="['active']">
      <span>Game Level</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/game-level-details']" [routerLinkActive]="['active']">
      <span>Game Level Details</span>
    </mat-list-item>

    <mat-list-item [routerLink]="['/game-source']" [routerLinkActive]="['active']">
      <span>Game Source Details</span>
    </mat-list-item>

  </mat-list>

</nav>