<div class="heading">
    <div class="d-flex">
        <h4>Game Source Details</h4>
    </div>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <mat-form-field class="col-lg-4">
            <mat-label>tts</mat-label>
            <input matInput formControlName="tts" placeholder="Enter tts">
            <mat-error *ngIf="f.tts.invalid && (f.tts.dirty || f.tts.touched || showValidation)">
                <div *ngIf="f.tts.errors?.required">tts is required</div>
                <div *ngIf="f.tts.errors?.whiteSpace">White space not allowed</div>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field class="col-lg-4">
            <mat-label>text1</mat-label>
            <input matInput formControlName="text1" placeholder="Enter text1">
        </mat-form-field>
    
        <mat-form-field class="col-lg-4">
            <mat-label>text2</mat-label>
            <input matInput formControlName="text2" placeholder="Enter text2">
        </mat-form-field>
    
        <mat-form-field class="col-lg-6">
            <mat-label>spelling</mat-label>
            <textarea matInput formControlName="spelling" rows="2" placeholder="Enter spelling"></textarea>
            <mat-error *ngIf="f.spelling.invalid && (f.spelling.dirty || f.spelling.touched || showValidation)">
                <div *ngIf="f.spelling.errors?.required">spelling is required</div>
                <div *ngIf="f.spelling.errors?.whiteSpace">White space not allowed</div>
            </mat-error>
        </mat-form-field>
    
        <div class="col-lg-2">
            <mat-label>Status</mat-label><br>
            <mat-slide-toggle class="mt-2" (change)="onChangeStatus($event.checked)"
				[checked]="f.status.value == 'Active' ? true : false">
			</mat-slide-toggle>
        </div>
    </div>

    <button type="submit" color="primary" mat-raised-button>{{data?.id ? 'Update' : 'Add '}} Game Source</button>
</form>

<div class="heading mt-4">
    <div class="d-flex">
        <h4>Media Details</h4>
    </div>
</div>

<div class="row" >
    <div class="col-lg-3" *ngFor="let media of data?.mediaItems">
        <img class="m-3" [src]="utilService.getImageUrl(media.id) | secure | async" height="100" />
        <button mat-icon-button (click)="deleteGameSourceMedia(media)"><mat-icon>delete</mat-icon></button>
    </div>
</div>

<input matInput placeholder="Browse File" fieldLabel="Add Game Source Media" hidden>
<button type="button" mat-raised-button color="primary" class="mt-3" (click)="fileUpload.click()">Add Game Source Media</button>
<input class="file-btn" autocomplete="off" style="display: none;" type="file" #fileUpload
    (change)="addSourceMedia($event)" accept="image/png, image/jpeg, image/jpg, image/svg+xml" multiple />